.navbar-brand {
  font-family: "Abril Fatface", cursive;
  color: white;
}

.horizontalLine {
  width: 80%;  
  height: 1.5px;
  background-color: black;
  border: 1px solid black;
}

img {
  width: 100%;
}

.sideArticle {
  height: fit-content;
}

.js-logo {
  filter: invert(1);
}